body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.p_r_l {
  padding-left: 1rem;
  padding-right: 1rem;
}
.p_t_30 {
  padding-top: 30px;
}

.cartNoPermissionsUser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}
.flex-icone {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 10px;
}

.working {
  margin-top: 1rem;
}

.alert {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 100;
  color: white;
}
